{% extends 'preguntas/base.html' %}

{% block content %}
{% if preguntas %}
    <div class="w-4/5 mx-auto">
        <form action="{% url 'preguntas:revisar' quiz.id %}" method="post">
            {% csrf_token %}
            {% for pregunta in preguntas %}
            <section class="mt-6">
            <p class="text-xl">{{ pregunta.texto }}</p>
            {% if pregunta.imagen %}
                <img src="{{ pregunta.imagen.url }}"/>
                <p class="text-xl">{{ pregunta.contexto }}</p>
            {% endif %}
            <ol>
                {% for opcion in pregunta.opciones.all %}
                  <input type="radio" id="opcion{{ opcion.pk }}" name="pregunta{{ pregunta.pk }}" value="{{ pregunta.pk}}-{{opcion.pk }}">
                  {% if opcion.imagen %}
                    <label for="opcion{{ opcion.pk }}"></label><br>
                    <img src="{{ opcion.imagen.url }}" alt="" />
                  {% else %}
                    <label for="opcion{{ opcion.pk }}">{{ opcion.texto }}</label><br>
                  {% endif %}
                {% endfor %}
            </ol>
            </section>
            <hr/>
            {% endfor %}
          <div class="text-center my-6">
            <input type="submit" value="Enviar" class="mt-4 text-white bg-blue-600 hover:bg-blue-800 text-lg font-medium rounded-lg px-5 focus:ring-4 focus:ring-blue-300 px-4"/>
          </div>
        </form>
    </div>
{% else %}
    <p>No hay preguntas</p>
{% endif %}
{% endblock %}
